@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IranSans-Light;
  src: url(../fonts/IRANSansWeb-Light.eot);
  src: url(../fonts/IRANSansWeb-Light.ttf);
  src: url(../fonts/IRANSansWeb-Light.woff);
  src: url(../fonts/IRANSansWeb-Light.woff2);
}
@font-face {
  font-family: IranSans-Fa;
  src: url(../fonts/IRANSansWebFaNum-Medium.eot);
  src: url(../fonts/IRANSansWebFaNum-Medium.ttf);
  src: url(../fonts/IRANSansWebFaNum-Medium.woff);
  src: url(../fonts/IRANSansWebFaNum-Medium.woff2);
}
@layer base {
  * {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: IranSans-Light;
  }
}
